:root {
    --main-color: #084c61;
    --main-font: "Roboto", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 7fr;
    height: 100%;
}

li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
}

header {
   grid-column: 2 / -1;
   display: grid;
   grid-template: auto 1fr / 2fr 1fr;
   gap: 15px;
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
   padding: 24px 24px 24px 30px;
   margin-bottom: 2px;
}

.upper-left-side {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    gap: 10px;
}

.upper-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn {
    border-radius: 25px;
    width: 90px;
    height: 35px;
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
}

.lower-right-side {
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.left-side-text {
    padding: 9px;
    margin-top: 9px;
}

.searchbar {
    border-radius: 15px;
    width: 500px;
    height: 25px;   
}

.sidebar {
    grid-row: 1 / -1;
    color: #F1F5F9;
    background-color: var(--main-color);
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 1.8rem;
    gap: 2rem;
}

.top-item {
    display:flex;
    align-items: center;
}

.top-item span.material-icons {
    font-size: 36px;
    margin-left: -10px;
    padding-right: 5px;
}

li span.material-icons {
    font-size: 16px;
    padding-right: 15px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 390px 50px 390px;
    background-color: #e7e5e4;
    padding-left: 30px;
    padding-top: 15px;
    gap: 1rem;
}

.main-title {
    font-size: 1rem;
    align-self: self-end;
}

.text {
    padding-top: 4px;
    padding-right: 50px;
}

.card-container {
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border-left: 6px solid #FBBF24;
    background-color: #F1F5F9;
    font-size: 0.8rem;
    padding-left: 20px;
    padding-top: 25px;
    display: grid;
    border-radius: 5px;
    box-shadow: inset 0 5px 5px #e2e8f0;
}

.text {
    color: gray;
}

.lower-icons {
	justify-self: right;
	align-self: end;
	padding-right: 20px;
	padding-bottom: 20px;
    display: flex;
    gap:10px;
}

.grid-up {
    grid-column: 2 / 2;
    grid-row: 2/3;
    background-color: #F1F5F9;
    border-radius: 20px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 20px;
}

.announcements {
    flex: 1;
    padding: 1rem 2rem;
}

.announcements-border {
	width: 100%;
	height: 1px;
	background-color: lightgray;
}

.lower-title {
    grid-column: 2 / 2;
    grid-row: 3/3;
}

.grid-down {
	grid-column: 2 / 2;
	grid-row: 4/4;
	background-color: #F1F5F9;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
    margin-right: 20px;
}


.icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    float: left; 
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}